@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor UserHttpContext

@{
    ViewData["Title"] = "Error";
    Layout = UserHttpContext.HttpContext.User.Identity.IsAuthenticated == true
        ? "_SecureLayout"
        : "_layout";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Um erro ocorreu durante o processamento do seu pedido. <br/> Entre em contato com o atendimento ao cliente com o seguinte
                Ticket No. @ViewData["ExceptionId"]
            </span>
        </div>
    </div>
</div>
