@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="row center">
                <header>
                    <h2>@ViewData["Title"]</h2>
                </header>
                <content>
                    <p class="text-info">
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </p>
                </content>
            </div>
        </div>
    </div>

</div>



